body {
    background-color: #fff;
    padding: 10px 0;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  font-family: "Roboto Condensed",sans-serif;
  font-weight: 800;
  text-transform: none;
}

code {
    background-color: #eee;
    border-radius: 0;
    color: #800080;
}

ul.nav li i.fa {
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
}

ul.navbar-right {
    margin-right: 0px;
}

ul.nav li img.avatar {
    width: 24px;
    border-radius: 100%;
}

a, a:focus, a:visited, a:active {
    text-decoration: none;
    outline: none;
    color: #800080;
}

a:hover {
    text-decoration: none;
}

.page-header {
    padding: 25px 15px;
    background-color: #f1f1f1;
}

.page-header h1 {
    margin: 0 0 0 0;
    padding: 0;
}

.page-header p {
    margin: 0; 
    padding: 0;
}

.sub-heading {
    margin: 25px 0 25px;
    /*background-color: #f1f1f1;*/
    /*border-bottom: 1px solid #ccc;*/
}

.sub-heading h3 {
    color: #222;
    padding: 5px 15px;
    border-left: 5px solid #800080;
}

h4 {
    margin: 25px 0;
    padding: 0;
    line-height: 1;
}


#sidebar { }
#sidebar a {
    color: #333;
}
#sidebar.affix {
    top: 75px;
}


#toc ul {
    margin: 0;
    padding: 0;
}

#toc li {
    margin: 0;
    padding: 0;
    list-style: none;
}

#toc a {
    display: block;
    padding: 5px;
    font-size: 13px;
}
#toc a:hover {
    color: #800080;
}

#toc .toc-h2 {
    font-weight: bold;
}

#toc .toc-h3 {
    font-weight: bold;

}
#toc .toc-h4 {
    margin-left: 10px;
}

#toc .toc-active {
    background-color: #f9f9f9;
    border-left: 3px solid #800080;
}
#toc .toc-active a {
    color: #800080;
}


.syntaxhighlighter table td.code .container:before { display: inherit; }
h4.code { font-family: Menlo,Monaco,Consolas,"Courier New",monospace; margin: 35px 0 10px; }